!!!
%html
  %head
    %title Event Admin
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'ssmanagment/base', 'data-turbolinks-track' => false
    = csrf_meta_tags
  %body
    -if flash[:notice]
      .alert.alert-success
        =flash[:notice]
    -elsif flash[:alert]
      .alert.alert-danger
        =flash[:alert]
    .container
      = yield
