<div>
  <p>
    Total seats - <%= event.total_seat_count %>
  </p>
  <p>
    Total tickets sold - <%= event.sold_seat_count %>
  </p>
  <p>
    Total tickets pending payment - <%= event.reserved_seat_count %>
  </p>
  <p>
    Total complimentary tickets - 0
  </p>
  <p>
    Total seats open - <%= event.remaining_seat_count %>
  </p>
  <p>Total revenue - 0 </p>
  <p>Total ticket revenue - 0 </p>
  <p>Total service fee - 0 </p>
  <p>Total facility fee - 0 </p>
  <p>Total fax - 0 </p>
  <p>Total credit card fee - 0</p>
  <p>Total attendees - 0</p>
</div>
