<div class="welcome-box magictimeHalfSec">
  <h1>Welcome my friend!</h1>
  <select class="price-filter-button price-filter welcome">
    <option selected disabled>Price Filter</option>
    <option value="199.99">$199.99</option>
  </select>
</div> 